instance:
  port: 8000
  only_local: true

registry:
  endpoint: "http://127.0.0.1:8500"
  path: "/dev"

log:
  level: "info"



redis:
  addr: "localhost:6379"
  #  username: "username"
  #  password: "password"
  #  name: "name"
  db: 0
database:
  host: "localhost"
  port: 3306
  username: "root"
  password: "admin"
  name: "res"

auth:
  sign_secret: "secret"
  uploader_validation_url: "https://uploader.validation.example"
  cdk_validation_url: "https://cdk.validation.example"

extra:
  create_new_version_webhook: "https://example.com/message"
  sql_debug_mode: false
  download_effective_time: "10m"
  download_limit_count: 10
  #  download_redirect_prefix: "http://127.0.0.1:8000/resources/download"
  download_redirect_prefix: ""
  cdn_prefix: "https://cdn.example.com"
  #  [0-100] use wrr to distribute
  distribute_cdn_ratio: 70
  distribute_cdn_region: [ "default", "" ]
  download_prefix_info:
    "default":
      - url: "1"
        weight: 1
      - url: "2"
        weight: 2
    "hk":
      - url: "https://download.prefixexample/download3"
        weight: 1
      - url: "https://download.prefixexample/download4"
        weight: 2
    "kr":
      - url: "https://download.prefixexample/download5"
        weight: 1
      - url: "https://download.prefixexample/download6"
        weight: 2
    "hz":
      - url: "https://download.prefixexample/download7"
        weight: 1
      - url: "https://download.prefixexample/download8"
        weight: 2

